* {
    border: 0;
    border-radius: 5px;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Roboto; */
    font-family: "Roboto", "Font Awesome 6 Free", "Font Awesome 6 Brands";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #282828;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: #A89984; */
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#custom-dnd.on {
    border-bottom: 3px solid #CC241D;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    /* color: #A89984; */
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    background-color: #665C54;
    border-bottom: 3px solid #ebdbb2;
}

#workspaces button.focused {
    color: #ebdbb2;
    background-color: #665C54;
    border-bottom: 3px solid #ebdbb2;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#clock {
    background-color: #b16286;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #98971a;
}

#memory {
    background-color: #98971a;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #458588;
}

#network.disconnected {
    background-color: #cc241d;
}

#pulseaudio.muted {
    border-bottom: 3px solid #CC241D;
}

#temperature {
    background-color: #d65d0e;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-vpn,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ebdbb2;
    /* color: #A89984; */
    background-color: inherit;
}

#idle_inhibitor.activated {
    color: #ebdbb2;
    border-bottom: 3px solid #689D6A;
}

#custom-vpn {
    border-bottom: 3px solid #98971A;
}

#custom-vpn.down {
    border-bottom: none;
}

#mode {
    background-color: #b16286;
}

#custom-media {
    border-bottom: 3px solid #b16286;
}
